<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmm.mapper.MoneyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmm.pojo.Money">
        <id column="money_id" property="moneyId" />
        <result column="money_price" property="moneyPrice" />
        <result column="money_discount" property="moneyDiscount" />
        <result column="money_user" property="moneyUser" />
    </resultMap>

</mapper>
