<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmm.mapper.MoneyLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmm.pojo.MoneyLog">
        <id column="log_id" property="logId" />
        <result column="log_money" property="logMoney" />
        <result column="log_user" property="logUser" />
        <result column="log_add" property="logAdd" />
        <result column="log_deduct" property="logDeduct" />
        <result column="log_time" property="logTime" />
    </resultMap>

</mapper>
