<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmm.mapper.StudyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmm.pojo.Study">
        <id column="study_id" property="studyId"/>
        <result column="study_title" property="studyTitle"/>
        <result column="study_content" property="studyContent"/>
        <result column="study_time" property="studyTime"/>
        <result column="study_user" property="studyUser"/>
        <collection property="userList" resultMap="com.dmm.mapper.UserMapper.BaseResultMap"/>
    </resultMap>
    <select id="getPage" parameterType="com.dmm.utils.Page" resultMap="BaseResultMap">
        select * from study
        <where>
            <if test="params.studyTitle!=null and params.studyTitle!=''">
                and study_title like '%${params.studyTitle}%'
            </if>
            <if test="params.studyTime!=null and params.studyTime!=''">
                and study_time <![CDATA[<]]> #{params.studyTime}
            </if>
        </where>
        limit #{index}, #{currentCount}
    </select>
    <select id="getCount" parameterType="com.dmm.utils.Page" resultType="java.lang.Integer">
        select count(*) from study
        <where>
            <if test="params.studyTitle!=null and params.studyTitle!=''">
                and study_title like '%${params.studyTitle}%'
            </if>
            <if test="params.studyTime!=null and params.studyTime!=''">
                and study_time <![CDATA[<]]> #{params.studyTime}
            </if>
        </where>
    </select>

</mapper>
